PORT=5000
FASTAPI_URL=http://127.0.0.1:8000
SUPABASE_URL=https://rftvldfiegdvomhacsii.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmdHZsZGZpZWdkdm9taGFjc2lpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTM0OTk2NSwiZXhwIjoyMTA2OTI1OTY1fQ.hSMIUrVrVt_PbxAZqWfygBHhY4ACGs6jbrLdJVVJvXM
